html {
  box-sizing: border-box;
  font-size: 80%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;  
  margin: 0;
}

fieldset {
  border: 1px solid #ccc;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  position: relative;
}

#app > header, #app > footer {
  padding: 1rem;
}

#app > header h1 {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  margin-right: 2rem;
}

#app > footer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
}

#app > footer p {
  margin: auto 0;
}

#tools {
  padding: 0 1rem;
}

#tools form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#pointerMode label, #snapToGrid label, #visualGrid label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.25rem;
}

#pointerMode fieldset, #snapToGrid fieldset, #visualGrid fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#tools input[type="number"] {
  width: 4rem;
  text-align: right;
  margin-left: auto;
}

#styles {
  display: grid;
  grid-template-columns: repeat( 3, auto );
  gap: 0.5rem
}

#styles label {
  border: 1px solid #ccc;
  display: flex;
  width: 4rem;
  height: 4rem;
}

#styles label input {
  margin: auto;
}

#layers {
  overflow-y: auto;
}

#layers ol {
  list-style: none;
  padding-left: 0;
}

#layers label {
  border: 1px solid #ccc;
  display: block;
  line-height: 2rem;
}

#modalNew {
  text-align: left;
}

#modalNew fieldset {
  margin: 1rem 0;
}

#modalNew label {
  display: block;
  display: grid;
  grid-template-columns: 1fr auto;
}

#modalNew input[type="number"] {
  width: 5rem;
  text-align: right;
  margin-left: auto;
}

#modalNew input[type="submit"] {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow: hidden;
}

#viewport {
  overflow: hidden;
}

#info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#info fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#info input {
  border: 1px solid #eee;
  width: 3rem;
  text-align: right;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba( 255, 255, 255, 0.75 );
  display: flex;
}

#modal > div {
  background: #fff;
  padding: 1rem;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  text-align: right;
}

svg#document {
  background: #ddd;
  width: 100%;
  height: 100%;
  display: block;
}


/* svg app elements */

svg#document #selectRectEl {
  stroke-width: 1px;
  stroke: #39f;
  stroke-dasharray: 1 1;
  fill: transparent;
}
