html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

#tools label {
  display: block;
}

#viewport {
  overflow: hidden;
}

svg {
  background: #eee;
}


/* svg app elements */

svg #selectRectEl {
  stroke-width: 1px;
  stroke: #39f;
  stroke-dasharray: 1 1;
  fill: transparent;
}
